# Welcome to Serverless!
service: stb-backend
app: prestamos-api

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: us-east-1

functions:
  prestamosAPI:
    handler: api/controllers/login.handler
    events:
        - http:
            path: /index
            method: get


        - http:
            path: /
            method: post


        - http:
            path: /
            method: get

        - http:
            path: /{prestamoId}
            method: get
custom:
  serverless-offline:
    host: 0.0.0.0
plugins:
  - serverless-offline
  - serverless-dotenv-plugin