footer {
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 40px;
    background: #F07E1A;
}

a {
    text-decoration: none
}

body {
    font: 1em sans-serif
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

button {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.rectangulo {
    Width: 100%;
    Height: 2px;
    Top: 80px;
}

.header {
    margin-top: 5px;
    position: relative;
    color: #000;
}

.titleHeader {
    float: left
}

.titleForm {}

.btnHeader {
    margin-top: 20px;
    margin-right: 102px;
    float: right;
    Width: 166.38px;
    Height: 40px;
    border: 1px solid #F07E1A;
    box-sizing: border-box;
    background-color: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #F07E1A;
}

.btnHeader:hover {
    cursor: pointer
}

.form {
    position: absolute;
    top: 10%;
    left: 40%;
    text-align: left;
}

.inputIngreso {
    height: 40px;
    width: 167px;
}

.inputMonto {
    height: 40px;
    width: 167px;
}

.inputPesos{
}

.inputAños {
    height: 40px;
    width: 167px;
}

.btnSim {
    color: #636363;
    background: #E0E0E0;
    border: none;
    height: 40px;
    width: 169px;
}

.btnSim:hover {
    cursor: pointer
}