footer {
    position: fixed;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 40px;
    background: #F07E1A;
}

a {
    text-decoration: none
}

/* body {} */

h1 {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: left;
    height: 0;
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.logoheader {
    width: 142px;
    height: 44px;
    margin-top: 15px;
    margin-left: 102px;
    float: left;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    outline: none;
}

header {
    border-bottom-style: solid;
    height: 78px;
    position: fixed;
    width: 100%;
}

input {
    outline: none;
}

input:focus {
    border: 2px solid #f07e1a;
}

select {
    outline: none;
}

select:focus {
    border: 2px solid #f07e1a;
}

.rectangulo {
    Width: 100%;
    Height: 2px;
    Top: 80px;
}

.btnHeader {
    margin-top: 20px;
    margin-right: 102px;
    float: right;
    Width: 166.38px;
    Height: 40px;
    border: 1px solid #F07E1A;
    box-sizing: border-box;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #F07E1A;
    outline: none;
}

.btnHeader:hover {
    cursor: pointer;
}
.titleForm {
    font-size: 10px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    white-space: pre;
}

.form {
    width: 168px;
    position: absolute;
    left: 50%;
    margin-left: -82px;
    margin-top: 118px;
    text-align: center;
    margin-bottom: 82px;
}

.inputIngreso {
    margin-top: 4px;
    height: 40px;
    width: 190px;
}

.Ingreso {
    margin-top: 4px;
    height: 40px;
    width: 167px;
}

.inputMonto {
    margin-top: 4px;
    height: 40px;
    width: 167px;
}

.inputPesos {
    margin-top: 4px;
    margin-top: -20px;
    text-align: right;
}

.inputTipo {
    margin-top: 4px;
    text-align: right;
}

/* input[type='radio'] {} */

.inputAños {
    margin-top: 4px;
    height: 40px;
    width: 167px;
}

/* input[type='checkbox'] {}
    height: 46px;
    width: 175px;
} */

input[type='checkbox'] {
    margin-top: 4px;
}

/* Ingreso */

.formLogin {
    width: 168px;
    width: 190px;
    position: absolute;
    left: 50%;
    margin-left: -82px;
    margin-top: 118px;
    text-align: center;
}

.error {
    color: #E2331F;
}

.recContr {
    text-decoration: underline;
    color: black;
    text-align: right;
}

.btnPrimario {
    color: #000000;
    background: #F07E1A;
    border: none;
    height: 40px;
    width: 196px;
    margin-top: 24px;
}

.btnPrimario:hover {
    cursor: pointer;
    background: rgba(240, 126, 26, 0.8);
}

.btnPrimarioDisabled {
    color: #636363;
    background: #E0E0E0;
    border: none;
    height: 40px;
    width: 196px;
    margin-top: 24px;
}

.btnSecundario {
    width: 196px;
    height: 40px;
    border: 1px solid #F07E1A;
    color: #F07E1A;
    background-color: transparent;
    margin-top: 15px;
}

.btnSecundario:hover {
    cursor: pointer;
    color: rgba(240, 126, 26, 0.8);
    border: 1px solid rgba(240, 126, 26, 0.8);
}

.btnSecundario:disabled {
    color: #636363;
    border: 1px solid #636363;
}

.btnCuarto {
    color: #000000;
    background: #F07E1A;
    border: none;
    width: 168px;
    height: 40px;
    Top: 71vh;
    right: 36%;
    position: absolute;
    display: inline-block;
    text-align: center;
}

.btnCuarto:hover {
    cursor: pointer;
    background: rgba(240, 126, 26, 0.8);
}

.btnCuarto:disabled {
    color: #636363;
    background: #E0E0E0;
}

.btnTerciario {
    text-align: center;
    width: 168px;
    height: 40px;
    border: 1px solid #F07E1A;
    color: #F07E1A;
    background-color: transparent;
    position: absolute;
    left: 36%;
    top: 71vh;
    display: inline-block;
}

.btnTerciario:hover {
    cursor: pointer;
    color: rgba(240, 126, 26, 0.8);
    border: 1px solid rgba(240, 126, 26, 0.8);
}

.btnTerciario:disabled {
    color: #636363;
    border: 1px solid #636363;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

#titleee {
    position: absolute;
    top:17%;
    left:41%;
    font-size: 24px;
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    line-height: 28px;  
}

   
#clientes {
    text-align: center;
    font-family: 'Heebo' sans-serif;
    font-weight: normal;
    border-collapse: collapse;
    border: 1px solid #8F8F8F;
    right: 30%;
    width: 39%;
    position: absolute;
    top:40%;
}

 #clientes tr{
    border: 1px solid #8F8F8F;
    box-sizing: border-box;
    padding: .35em;
 }
#clientes td, #clientes th{
    border: 1px solid #8F8F8F;
    box-sizing: border-box;
    font-family: 'Heebo',  sans-serif;
    font-style:normal ;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    position: relative;
	
}


#clientes tr:hover {
    cursor: pointer;
    background: #FFF2EF;
}

#clientes th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    background-color: #F07E1A;
    font-family: 'Heebo',  sans-serif;
    color: #000000;
}

#seleccionar {
    position: absolute;
    font-family: 'Heebo',  sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    height: 48%;
    top: 12%;
    left:31%;
    align-items: center;
    color: #000000;
}

.celda {
    width: 15%;
}




.selected{
 background-color:#FFF2EF  ;
}


#ingresos {
    text-align:center;
    position: absolute;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: normal;
    top:24%;
    right: 17%;
    font-size: 16px;
line-height: 23px;


}


#ingresoss{
    text-align:center;
    position: absolute;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    top:28%;
    right: 16%;
}


#Monto {
    text-align:center;
    position: absolute;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: normal;
    top:24%;
    right:5%;
    font-size: 16px;
    line-height: 23px;
}

#Montoss{
    text-align:center;
    position: absolute;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: normal;
    top:28%;
    right:7%;
    font-size: 19px;
}


/*modal usuario logueado*/
.modalStyles {
    align-items: flex-start;
    width: 416px;
    height: 194px;
    left: 6px;
    top: 25%;
    background: #FFFFFF;
    border: 1px solid #8F8F8F;
    box-sizing: border-box;
    text-align: center;
}


.text{
    margin-top: 24px;
    margin-left:51px;
    margin-right: 43px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

.textModal2{
    margin-top: 32px;
    margin-left: 37px;
    margin-right: 37px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

#btnCancelar {
    position: absolute;
    height: 40px;
    width: 165px;
    margin-left: 60px;
    bottom: -80px;
    border: 1px solid #F07E1A;
    box-sizing: border-box;
    background: #FFFFFF;
    color: #F07E1A;
}

#btnSolicitar {
    
    position: absolute;
    margin-left: 270px;
    width: 165px;
    height: 40px;
    margin-bottom: 20px;
    color: #000000;
    background: #F07E1A;
    box-sizing: border-box;
    bottom: -100px;
    border: 1px solid #F07E1A;
}

#btnVolver{
    position: absolute;
    left: 160px;
    bottom: -100px;
    width: 168px;
    height: 40px;
    color: #000000;
    background: #F07E1A;
    box-sizing: border-box;
    border: 1px solid #F07E1A;
}

/* No logueado */

.modalStyless {
    width: 413px;
    height: 220px;
    left: 6px;
    top: 25%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border: 1px solid #8F8F8F;
    box-sizing: border-box;
}

.modal-header {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 3.12rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.titlee {
    margin-left: 72.5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    
}

.modalBody {
    left: 38.12%;
    right: 38.12%;
    top: 44.86%;
    bottom: 48.47%;
    margin-top: 8px;
    font-family: Heebo;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 32px;
}

.subTitle{
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

#btnCR {
    position: absolute;
    height: 40px;
    width: 168px;
    left: -25%;
    right: 0%;
    bottom: -100px;
    border: 1px solid #F07E1A;
    box-sizing: border-box;
    background: #FFFFFF;
    color: #F07E1A;
}

#btnIN {
    position: absolute;
    width: 168px;
    height: 40px;
    left: 160px;
    color: #000000;
    background: #F07E1A;
    box-sizing: border-box;
    bottom: -100px;
    border: 1px solid #F07E1A;
}